$clear-sky-top: #ffdb4e;
$clear-sky: #ff9872;

$few-clouds-top: #03B9A5;
$few-clouds: #30ECEB;

$scattered-clouds-top: #3E93B2;
$scattered-clouds: #44EDEC;

$broken-clouds-top: #3E93B2;
$broken-clouds: #44EDEC;

$shower-rain-top: #066E94;
$shower-rain: #6fd4fb;

$rain-top: #24A0CD;
$rain: #6fd4fb;

$thunderstorm-top: #0A465D;
$thunderstorm: #61A1BA;

$snow-top: #74A3DE;
$snow: #DCEDF4;

$mist-top: #919494;
$mist: #D6D8D9;